{% extends 'base.html' %}

{% block content %}

<main class="container my-5">
    <section class="card card-body">
        {% include 'partials/_msg.html'%}

        <h1 class="display-1 text-center">Lolas Blog</h1>

        <h2 class="text-center">Un blog a favor de los wasos</h2>

        <div class="card">
            <div class="card-header">
                News Posts
            </div>

            <div class="table-responsive">
                <table class="table table-striped align-middle table-hover">
                    {% for post, date in blogs%}
                    <tr>
                        <td>
                            <img src="/public/default/images/IMG-20200406-WA0245.jpg" alt="Logo" width="30"
                                class="rounded-circle">
                        </td>
                        <td>
                            <h5 class="card-title"><a href="{% url 'blog:detail_post' post.id %}">{{ post.title }}</a></h5>
                            <p class="fs-6">{{ post.description|truncatechars:150|striptags }}</p>
                        </td>
                        <td class="text-center gap-5">
                            <p class="fs-2">
                                {% for keys, values in total_posts %}
                                {% if keys == post.author.id %}
                                {{values}}
                                {% endif %}
                                {% endfor %}
                            </p>
                            <p class='text-muted'>
                                Posts
                            </p>
                        </td>
                        <td>
                            <a href="{% url 'account:profile' post.author.username %}"><img
                                    src="/public/{{post.author.profile_image}}" alt="Logo" width="50"
                                    class="rounded-circle mb-2"></a>
                            <h6 class="card-subtitle mb-2 text-muted">By <a
                                    href="{% url 'account:profile' post.author.username %}">{{post.author}}</a></h6>
                            <p class="card-subtitle text-muted">{{ date }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
    
            </div>
        </div>
    </section>
</main>


{% endblock %}