{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5 mb-4">
            <div class="card card-body">
                <h2 class="text-center">Password Reset</h2>
                <p class="text-center">Please enter your email.</p>
                {% include 'partials/_msg.html'%}
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_email">Email:</label>
                        <input type="email" name="email" class="form-control" autocomplete="email" maxlength="254" required id="id_email">
                    </div>

                    <button class="btn btn-primary" type="submit">Sent email</button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}
