{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5 mb-4">
            <div class="card card-body">
                <h2 class="text-center">Password Reset Confirm</h2>
                <p class="text-center">Please enter your new password.</p>
                {% include 'partials/_msg.html'%}
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_new_password1">New password:</label>
                        <input type="password" class="form-control" name="new_password1" required id="id_new_password1">
                    </div>
                
                    <div class="mb-3">
                        <label for="id_new_password2">New password:</label>
                        <input type="password" class="form-control" name="new_password2" required id="id_new_password2">
                    </div>
                
                    <button type="submit" class="btn btn-primary">
                        Change password
                    </button>

                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}