{% extends 'base.html' %}

{% block content %}


<main class="container-fluid my-5">
    <section class="card-body">

        <div class="d-flex justify-content-center">
            <div class="card mx-2 col-md-2">
                <div class="card-header">
                    Profile
                </div>            
                <div class="card-body">
                    {% include 'partials/_msg.html'%}
                    {% if request.user.username == user.username %}
                    <form method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                    
                        <input id="id_profile_image" type="file" name="profile_image" hidden />
                        <label for="id_profile_image">
                            <img class="rounded-circle img-fluid img-thumbnail w-100 p-3" style="cursor: pointer"
                                src="/public/{{ user.profile_image }}" title="Upload new image">
                        </label>
                    
                        <h2 class="display-6 text-center w-100 pb-5 pt-2">{{ user.username }}</h2>
                        <p class="text-center">{{total}}</p>
                        <p class="text-center text-muted">posts</p>
                        <p>Last login {{last}}</p>
                        <p>Joined {{joined}}</p>
                    
                        <div class="mb-3">
                            <label for="id_first_name">First name:</label>
                            {% if user.first_name %}
                            <input type="text" name="first_name" class="form-control" maxlength="40" id="id_first_name" value="{{user.first_name}}">
                            {% else %}
                            <input type="text" name="first_name" class="form-control" maxlength="40" id="id_first_name">
                            {% endif %}
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_last_name">Last name:</label>
                            {% if user.last_name %}
                            <input type="text" name="last_name" class="form-control" maxlength="40" id="id_last_name" value="{{user.last_name}}">
                            {% else %}
                            <input type="text" name="last_name" class="form-control" maxlength="40" id="id_last_name">
                            {% endif %}
                        </div>
                    
                        <div class="mb-3">
                            {% if user.bio %}
                            <textarea name="bio" cols="40" class="form-control" rows="10" id="id_bio">{{user.bio}}</textarea>
                            {% else %}
                            <textarea name="bio" cols="40" class="form-control" rows="10" id="id_bio" placeholder="Bio"></textarea>
                            {% endif %}
                        </div>
                    
                        <button class="btn btn-primary mb-3" type="submit">Update</button>
                    </form>
                    
                    <a href="{% url 'account:password_change' user.username %}">Change password</a>

                    {% else %}

                        <img class="rounded-circle img-fluid img-thumbnail w-100" src="/public/{{ user.profile_image }}">
                        <h2 class="display-6 text-center w-100 pb-5 pt-2">{{ user.username }}</h2>
                        <p class="text-center">{{total}}</p>
                        <p class="text-center text-muted">posts</p>
                        <p>Last login {{last}}</p>
                        <p>Joined {{joined}}</p>
            
                        {% if user.first_name %}
                        <p>{{user.first_name}}
                            {% endif %}
            
                            {% if user.last_name%}
                            {{user.last_name}}
                            {% endif %}
                        </p>
            
                        {% if user.bio %}
                        <p>{{user.bio}}</p>
                        {% endif %}

                    {% endif %}
                </div>
            </div>
            <div class="card mx-2 col-md-9">
                <div class="card-header">
                    Posts
                </div>
                {% for post, date in posts %}
                <div class="card-body bg-light my-2">
                    <p class="display-5"><a href="{% url 'blog:detail_post' post.id %}">{{post.title}}</a></p>
                    <p class="text-muted">{{date}}</p>
                    <p>{{post.description|safe}}</p>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
</main>

{% endblock %}